.page-grid {
  display: grid;
  grid-template-rows: 1fr auto; 
}

.footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.link {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
}

.copyright {
  font-size: 0.9em;
  color: #7e7a7a;
}

.spacer {
  height: 100px;
}