.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  overflow: scroll;
}

.title {
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}

.description {
  margin-bottom: 30px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}
  