.main-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.tab {
  width: 60%; 
  border: 1px solid #ccc;
  padding: 20px;
  overflow: hidden;
}

.left-tab {
  margin-right: 600px; 
}

.right-tab {
  margin-left: 10px; 
}

.scrollable-content {
  max-height: 300px; 
  overflow-y: auto; 
  border: 1px solid #ddd;
  padding: 10px;
}

h2 {
  background-color: #f0f0f0;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
