.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  height: calc(100% - 150px);
  width: 100%;
  box-sizing: border-box;
}

.tab {
  width: 200px;
  border: 1px solid #ccc;
  padding: 16px;
  overflow: hidden;
  text-align: center; /* Center the tab headers */
}

.left-tab {
  border: 8px solid #ffaa00;
  margin-right: 10px;
  height: 100%; /* Add a maximum height to limit the height */
  min-width: 30%;
  overflow-y: hidden;
  box-sizing: border-box;
}

.right-tab {
  border: 8px solid #ffaa00;
  margin-left: 10px;
  height: 100%;
  min-width: 30%;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.right-tab .scrollable-content {
  overflow-y: auto;
}

.left-tab .scrollable-content {
  overflow-y: auto;
}


.scrollable-content {
  height: calc(100% - 75px);
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 0px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
}

.scrollable-content::-webkit-scrollbar {
  width: 10px; /* Adjust width for vertical scrollbar */
  height: 4px; /* Adjust height for horizontal scrollbar */
}

.scrollable-content::-webkit-scrollbar-track {
background: #f1f1f100; /* Color of the track */
}

.scrollable-content::-webkit-scrollbar-thumb {
background: rgba(109, 119, 130, 0.5); /* Color of the scroll thumb */
border-radius: 2px; /* Rounded corners on the scroll thumb */
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
background: #555; /* Color of the scroll thumb when hovered */
}

.tab-header {
  background-color: #f0f0f0;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.action-button {
  width: 100%; 
  padding: 6px;
  margin: 4px 0;
  background-color: #ffaa00; 
  color: white; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button:hover {
  background-color: color-mix(in srgb, #ffaa00 100%, black 10%);
}

.button-recipe {
  background-color: transparent;
}

.color-null {
  background-color: #e9e3e3;
}

.color-c0 {
  background-color: hsla(0, 100%, 51%, 0.432);
  text-decoration: line-through;
}

.color-c1 {
  background-color: hsla(40, 28%, 66%, 0.432);
}

.color-c2 {
  background-color: hsla(69, 21%, 65%, 0.432);
}
.color-c3 {
  background-color: hsla(78, 20%, 50%, 0.452);
}
.color-c4 {
  background-color: hsla(119, 20%, 50%, 0.482);
}

.color-c6 {
  background-color: hsla(140, 32%, 48%, 0.592);
}

.good-match {
  color:#252928;
}

.bold {
  font-weight: 650;
}

.ingredient-item input {
  cursor: pointer;
}

.ingredient-item p {
  width: 100%;
}

.recipeList {
  flex-direction: column;
  list-style: none;
}

.recipeList::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
  height: 4px; /* Adjust height for horizontal scrollbar */
}

.recipeList::-webkit-scrollbar-track {
background: #f1f1f100; /* Color of the track */
}

.recipeList::-webkit-scrollbar-thumb {
background: rgba(109, 119, 130, 0.5); /* Color of the scroll thumb */
border-radius: 2px; /* Rounded corners on the scroll thumb */
}

.recipeList::-webkit-scrollbar-thumb:hover {
background: #555; /* Color of the scroll thumb when hovered */
}

.recipeList button {
  cursor: pointer;
  border: none;
  font-size: 1em;
  padding: 6px;
  width: 100%;
}

.recipeList button:hover {
  background-color: hsla(0,0%,50%, 0.3);
}

.ingredient {
  padding: 1px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  display: flex;
}

.ingredient:hover {
  background-color: hsla(0,0%,50%,0.3);
}

.ingredient.selected {
  background-color: rgba(181, 210, 181, 0.7);
  font-weight: 600;
}

.ingredient.selected:hover {
  background-color: rgba(147, 173, 147, 0.7);
}

.ingredient.selected2 {
  background-color: rgb(228, 228, 212);
  font-weight: 650;
}

.ingredient.selected2:hover {
  background-color: rgb(205, 206, 191);
}

.ingredient.forbidden {
  background-color: rgba(213, 181, 172, 0.7);
  font-weight: 600;
}

.ingredient.forbidden:hover {
  background-color: rgba(158, 134, 128, 0.7);
}

.ingredient.forbidden2 {
  background-color: rgb(228, 216, 212);
  font-weight: 650;
}

.ingredient.forbidden2:hover {
  background-color: rgb(205, 197, 190);
}


.checkmark-span {
  width: 20px;
}

.ingredient-entry-name {
  font-size: 0.9em;
  width: 100%;
  padding: 1px;
}

.ingredient-search {
  font-size: 1em;
  border-radius: 4px;
  padding: 2px;
  margin: 4px;
  width: auto;
}

.tab.right-tab.top {
  width: 100%;
  flex: 6;
  padding: 0px;
  margin: 0px;
  border: none;
}

.tab.right-tab.top.scroll {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
}

.tab.right-tab.top.scroll::-webkit-scrollbar {
  width: 10px; /* Adjust width for vertical scrollbar */
  height: 4px; /* Adjust height for horizontal scrollbar */
}

.tab.right-tab.top.scroll::-webkit-scrollbar-track {
background: #f1f1f100; /* Color of the track */
}

.tab.right-tab.top.scroll::-webkit-scrollbar-thumb {
background: rgba(109, 119, 130, 0.5); /* Color of the scroll thumb */
border-radius: 2px; /* Rounded corners on the scroll thumb */
}

.tab.right-tab.top.scroll::-webkit-scrollbar-thumb:hover {
background: #555; /* Color of the scroll thumb when hovered */
}

.tab.right-tab.bottom {
  width: 100%;
  flex: 5;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  border: none;
}

.button-selected-mode {
  background-color:rgb(207, 207, 207);
  font-size: 1em;
  border-radius: 2px;
  border: 1px solid rgba(100,100,100,0.5);
  padding: 4px;
  margin: 2px;
}

.button-selected-mode.selected {
  background-color:rgb(251, 255, 245);
  border: 1px solid rgba(100, 120, 100, 0.5);
  font-weight: 650;
}

.toggle-substitution {
  font-size: 1em;
  font-weight: 550;
  padding: 8px;
  margin: 0px;
  color:rgba(68, 65, 65, 0.8);
  margin-right: 10px;
  border: none;
}

.toggle-substitution:hover {
  background-color: rgba(147, 150, 147, 0.3);
  color:#252928;
  cursor: pointer;
}


.toggle-substitution.selected {
  color: #0b0c0b;
}

.toggle-substitution.selected:hover {
  background-color: rgba(177, 183, 175, 0.3);
  cursor: pointer;
}

.buttons {
  flex: 1;
  margin-top: 20px;
}

ul.ingredients, ol {
  list-style-type: unset;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin: 0;
  width: 100%;
}

ol {
  list-style-type: decimal;
}

.recipe {
  text-align: left;
}

.recipe li {
  font-size: 0.9em;
  padding: 1px;
}

.recipe .action-button {
  height: unset;
}

.button-submit {
  font-size: 1em;
  padding: 8px;
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid #ffaa00a2;
  background-color:rgba(255, 170, 0, 0.553);
}

.button-clear {
  font-size: 1em;
  padding: 8px;
  margin: 0px;
  border-radius: 2px;
  background-color:#e9e4e4;
  color:rgba(10,10,10,0.8);
  border:1px solid rgba(20, 18, 18, 0.6);
}

.button-clear:hover {
  background-color: hsla(0, 10%, 10%, 0.2);
}

.button-submit:hover {
  background-color:#ffc44d4e;
}

.recipe .scrollable-content {
  height: calc(100% - 116px);
}